.container
{

 padding:100px;
}
.thumbnail h4
{

 text-align:center;
}
.thumbnail p{
    text-align:center;
}
#heading 
{
    padding-top:60px;
    background-color:#00ADF2 ;
    background-position:center center;
    color:black;
    position: relative;
}

#name
{
    color:#00ADF2 ;
}

#padding{
    border: 3px solid grey;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    }

#para{
    color:#00ADF2 ;

}
    
